.main {
  position: relative;
  display: flex;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}
.main .sidebar {
  flex-shrink: 0;
  width: 260px;
  overflow: auto;
  padding: 0.5rem;
  position: relative;
  background: #f1f1f1;
}
.main .hierarchy {
  position: relative;
  overflow: auto;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
}
.hierarchy .wrapper {
  width: fit-content;
  max-width: 100%;
}
.formElement {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}
input {
  width: 100%;
}
div::-webkit-scrollbar {
  display: none;
}

.settings {
  position: absolute;
  z-index: 10;
  background: #f1f1f1;
  left: 260px;
  top: 10px;
  width: 48px;
  height: 48px;
  padding: 0.2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settings img {
  width: 100%;
  height: 100%;
}

.saveBtn > a {
  color: white;
  text-decoration: none;
}

.saveBtn > a:hover {
  color: white;
}
